{"filter":false,"title":"crontab","tooltip":"/etc/crontab","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1662468086311,"hash":"800afa8a91210b50477f3895141d2deb754a431f"}